html {
    background-color: #141414;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #05062d;
    color: #fff;
    margin: 0;
    min-height: 100vh;
}

.dark_wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 8px 0;
    padding: 0;
}
button{
    display: inline-block;
    padding: 16px;
    border: none;
    border-radius: 0.6em;
    text-transform: uppercase;
    background-color: #a340fd;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

h1.block_title {
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom: 2px solid #4e58f2;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #030215;
}

.fuels_container,
.construction_container{
    display: flex;
    gap: 40px;
    padding: 40px 20px 20px;
}

.convective_container {
    display: flex;
    gap: 40px;
}


.card {
    min-width: 190px;
    width: 340px;
    flex-grow: 1;
    /* border-radius: 0 20px 20px; */
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    transition: .5s;
    position: relative;
}

.card[data-change] {
    flex-grow: 2;
}

.card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    /* border-radius: 0 17px 17px; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 16px;
}

.card:hover .card_title_abs{
    height: 40px;
    padding: 5px 5px 0;
    transition: height .1s .1s, padding .1s;
}


.card_title_abs{
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    z-index: 999;
    left: 20px;
    /* bottom: calc(100% - 5px); */
    bottom: 100%;
    height: 0;
    overflow: hidden;
    background-image: linear-gradient(#5846f3, #ab40fe);
    border-radius: 20px 20px 0 0;
    /* padding: 5px; */
    /* padding-bottom: 0; */
    padding: 0;
    min-width: 120px;

    transition: height .1s, padding .1s .1s;
}
.card_title_content{
    background: rgb(5, 6, 45);
    border-radius: 17px 17px 0 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    text-transform: uppercase;
    text-align: center;
}

.radio-buttons-container {
    display: flex;
    align-items: left;
    justify-content: start;
    gap: 4px;
    flex-direction: column;
}

.radio-button {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    min-height: 44px;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 38px;
    position: relative;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    text-transform: uppercase;
    text-align: left;
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4a5ff1;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid #4c8bf5;
    color: #4c8bf5;
}

.radio-button__input:checked+.radio-button__label {
    color: #4c8bf5;
    padding-left: 36px;
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 10px #4c8bf580;
}

form {
    display: flex;
    flex-wrap: wrap;
    --label-basis: 200px;
    gap: 20px;
}
form#furnaceConstr{
    --label-basis: 460px;
    gap: 40px 80px;
    justify-content: start;
}
form#furnaceConstr>label{
    /* width: min(460px, 100%); */
    flex-grow: 0;
    justify-content: space-between;
}
form>label {
    flex-basis: var(--label-basis);
    flex-grow: 1;
    text-align: left;
    display: flex;
    justify-content: start;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}

form>label>.el_name {
    display: inline-block;
    min-width: 75px;
    font-size: 16px;
    flex-shrink: 1;
}

form>label .el_percent {
    font-size: 14px;
    width: 20%;
    min-width: 50px;
    text-align: center;
}

input[type="text"] {}

input[type="text"] {
    --input-focus: #2d8cf0;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #111111;
    --main-color: #fefefe;
    max-width: 140px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 3px 3px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 8px;
    outline: none;
    flex-grow: 1;
    transition: .2s;
}

input[type="text"]::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

input[type="text"]:focus {
    border: 2px solid var(--input-focus);
    box-shadow: 1px 1px var(--input-focus);
}

.formula,
.block_container,
.block_subcontainer {
    padding: 12px;
}

.formula {
    border: none;
}

label {
    text-align: right;
}

#output {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    max-width: 900px;
    overflow-x: auto;
    width: 100%;
    display: block;
}

td {
    padding: 10px 20px;
    border: 1px solid #000;
    text-align: center;
}

tbody>tr:nth-of-type(2n) {
    background-color: #c5c5c5;
}

.td_titile,
thead tr {
    background-color: #202020;
    color: #fff;
    text-align: center;
}

.btn_container {
    padding: 20px;
}

#mainBtn {
    min-height: 44px;
    width: 100%;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

#mainBtn {
    --green: #4e58f2;
    font-size: 20px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(78, 89, 242, 0.1) 1%, transparent 40%, transparent 60%, rgba(78, 89, 242, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(78, 89, 242, 0.7), 0 0 9px 3px rgba(78, 89, 242, 0.7);
}

#mainBtn:hover {
    color: #6e76df;
    box-shadow: inset 0 0 10px rgba(78, 89, 242, 0.7), 0 0 9px 3px rgba(78, 89, 242, 0.2);
}

#mainBtn:before {
    content: "";
    position: absolute;
    left: -20em;
    width: 20em;
    height: 100%;
    top: 0;
    transition: transform .6s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(78, 89, 242, 0.1) 40%, rgba(78, 89, 242, 0.1) 60%, transparent 100%);
}

#mainBtn:hover:before {
    transform: translateX(98em);
}

.gosling {
    max-width: 360px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 17px;
}

.hidden_serv{
    display: none;
}

.modal_page{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(35, 35, 35, 0.269);
    backdrop-filter: blur(15px);
    display: none;
}
.modal_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    padding: 40px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background-color: #05062d;
    width: 100%;
    max-width: 340px;
    border: 5px solid #8341f9;
}
.modal_title{
    text-align: center;
}
#convectipeType{
    min-height: 44px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    background-color: #592876;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px;
}
#acessConvective{
    width: 100%;
}
.convective_add_block{
    display: flex;
    align-items: center;
}
.convective_bloks{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.convective_item{
    border-radius: 12px;
    border: 2px solid #9e9e9e;
    padding: 20px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    position: relative;
}
.convective_item::before{
    content: attr(data-target);
    position: absolute;
    left: -32px;
    top: 12px;
    border: 2px solid #9e9e9e;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
    width: 32px;
    border-radius: 8px 0 0 8px;
}

.convective_item form{
    flex-grow: 1;
    /* background-color: #00DDEB; */
}

/* .delete_convective{
    border-radius: 4px;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.delete_convective{
    color: #e2c5fe;
    cursor: pointer;
    font-size: 24px;
}
